<menus>
  <menu id="ErrorMenu">
    <menu-item id="retry">@Strings.menuRetry</menu-item>
    <menu-item id="switchUser">@Strings.menuSwitchUser</menu-item>
  </menu>
  <menu id="WorkoutMenu">
    <menu-item id="startWorkout">@Strings.menuStartWorkout</menu-item>
    <menu-item id="refetchWorkout">@Strings.menuRefetchWorkout</menu-item>
    <menu-item id="switchUser">@Strings.menuSwitchUser</menu-item>
  </menu>
</menus>
