<menus>
  <menu id="ErrorMenu">
    <menu-item id="retry" label="@Strings.menuRetry"></menu-item>
    <menu-item id="openWebsite" label="@Strings.menuOpenWebsite"></menu-item>
    <menu-item id="switchUser" label="@Strings.menuSwitchUser"></menu-item>
    <menu-item id="about" label="Strings.menuAbout"></menu-item>
  </menu>
  <menu id="ErrorMenuWithSaved">
    <menu-item id="showSaved" label="@Strings.menuShowSaved"></menu-item>
    <menu-item id="retry" label="@Strings.menuRetry"></menu-item>
    <menu-item id="openWebsite" label="@Strings.menuOpenWebsite"></menu-item>
    <menu-item id="switchUser" label="@Strings.menuSwitchUser"></menu-item>
    <menu-item id="about" label="@Strings.menuAbout"></menu-item>
  </menu>
</menus>
