// Contact garmin@trainasone.com to ask for a ClientId and ClientSecret
const ClientId = "YourClientId";
const ClientSecret = "YourClientSecret";
const ServerUrls = ["https://beta.trainasone.com"];
const ViewStackWorkaround = true; // Enable for physical devices, disable for simulator
